main {

    display: flex;
    flex-direction: column;
    width: 100%;

    .container {
        display: flex;
        
    }

    .grow .container, 
    .flow .container,
    .users .container {

        img {
            max-width: 45%;
        }

        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
        padding: 70px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
        font-family: $bodyFont,sans-serif;

        .reverse {
            order: 1;
        }

        .info {

            padding: 40px;

            h2 {
                font-size: 27px;
                color: $headerColor;
            }

            p {
                margin-top: 30px;
                color: $secondaryText;
                font-size: 15px;
                line-height: 2;
            }

            max-width: 50%;
        }

    }

    .cta {
        display: flex;
        justify-content: center;

        .cta_info {
        
            text-align: center;
            position: absolute;
            margin-top: 120px;
            padding: 50px 120px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
            font-family: $bodyFont;

            h2 {
                font-size: 26px;
            }

            a {
                background-color: $mainButton;
                display: inline-block;
                margin-top: 40px;
                padding: 15px 60px;
                border-radius: 30px;
                color: #fff;
                font-family: $bodyFont; 
                font-size: 14px;
                box-shadow: 0px 3px 8px rgba(255, 32, 225, 0.452);
                transition: background-color 0.3s ease-in-out;
            }

            a:hover {
                background-color: $mainButtonHover;
            }
        }
    }



    

}