
footer {
    margin-top: 250px;
    background-color: $headerColor;
    padding-top: 160px;
    padding-bottom: 80px;
    color:#fff;
    font-family: $bodyFont;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
    }

    .container .child:nth-child(1) {
        margin-right: 30px;
    }

    .child {
        flex: 1 0 20%;
        padding: 10px;
        margin-bottom: 10px;

    
        

        img {
            max-width: 170px;
        }

        a {
            color: #fff;
            font-size: 14px;
            display: inline-block;
        }

        p {
            font-size: 13px;
            margin: 10px 0; 
        }

        .fab {
            font-size: 20px;
        }

    }

    .container ul:nth-child(4) {
        display: flex;

        li {
            padding-right: 10px;
        }

    }

}