@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
}

header {
  position: absolute;
  width: 100vw;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_logo img {
  width: 170px;
}

header .container .cta_header {
  color: #00252e;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  padding: 13px 60px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.144);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.144);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header .container .cta_header:hover {
  background-color: whitesmoke;
}

.hero {
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: #ebfbff;
  background-size: cover;
  background-position: right center;
  padding-top: 120px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero_info {
  max-width: 40%;
  padding-right: 60px;
}

.hero .hero_info h1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 32px;
  max-width: 380px;
}

.hero .hero_info p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  color: #808d99;
}

.hero .hero_info .cta_hero {
  margin-top: 40px;
  display: inline-block;
  padding: 15px 60px;
  background-color: #ff52bf;
  border-radius: 30px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 8px rgba(255, 32, 225, 0.452);
          box-shadow: 0px 3px 8px rgba(255, 32, 225, 0.452);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero .hero_info .cta_hero:hover {
  background-color: #ed129d;
}

.hero img {
  max-width: 60%;
}
/*# sourceMappingURL=main.css.map */